/* 
My Colour Palette

#023059 Dark Blue
#f2f2f2 White
#025908 Green
#EDB41F Yellow-ish
#590202 Burgendy 
*/

/* Global Styles */

body {
    background-color: #f2f2f2;
    color: black;
    font-family: sans-serif;        
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 2%;
}

.navBar {
    background-color: #590202;
    position: fixed;
    min-width: 100%;
    left: 0;
    top: 0;
}

nav .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
    padding-right: 5%;
}

nav ul a {
    color: #f2f2f2;
    text-decoration: none;
    transition: all 0.5s ease;
}
    
nav ul a:hover {
    opacity: 0.3;
}
    
nav li {
    display: inline-block;
}

#menu-toggle {
    display: none;
}

.label-toggle {
    display: none;
}

.logo {
    display: inline-block;
    color: #f2f2f2;
    font-size: 2em;
}

img {
    max-width: 576px;
}

.myProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.proj {
    background: #023059;
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
    color: #f2f2f2;
}

.proj__artwork {
    width: 100%;
}

.proj:hover {
    opacity: 0.75;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Social Media */

.fa {
    padding: 15px;
    font-size: 45px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 15%    
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Media Queires */

@media screen and (max-width: 768px) {
    nav ul a {
        opacity: 0.7;
    }

    ul {
        background-color: #025908;
        display: block;
        height: 0;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        transition: all 1s ease;
        width: 100%;
        visibility: hidden;
    }

    li {
        border-bottom: 2px solid #025908;
        color: #023059;
        display: block;
        font-size: 1.5em;
        padding: 2em 0;
    }

    #menu-toggle:checked ul {
        opacity: 1;
        height: 100vh;
        visibility: visible;
      }    
}